@mixin disFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  @include disFlex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  margin: 10px;
  .header {
    border-radius: 10px 10px 0 0;
    background-color: rgba(255, 255, 255, 0.46);
    padding: 5px;
    border-bottom: 1px solid gray;
    width: 300px;
    h3 {
      padding: 0;
      margin: 0;
      color: skyblue;
    }
    h1 {
      padding: 0;
      margin: 0;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.287);
    border-radius: 0 0 10px 10px;
    tbody {
      tr {
        padding: 3px;
        border-top: 1px solid gray;
        th {
          padding: 10px;
          text-align: start;
        }

        td {
          padding: 10px;
          text-align: end;
        }
      }
    }
  }
}

.curDay {
  background-color: skyblue;
}
