@mixin disFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  height: 100vh;
  width: 100vw;
  background-image: url("../../public/pics/agustin-fernandez-Znyjl9pbaUs-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @include disFlex;
  .subContainer {
    @include disFlex;
    height: 80%;
    width: 100%;
    margin-top: 80px;
    background-color: red;
  }
}
