@mixin disFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  @include disFlex;
  min-height: 100vh;
  width: 100vw;
  padding-top: 104px;
  background-color: black;
  background-image: url("/pics//agustin-fernandez-Znyjl9pbaUs-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-attachment: fixed;
  .subContainer {
    @include disFlex;
    z-index: 0;
    height: 100%;
    width: 100vw;
    .shopImage {
      position: relative;
      margin: 3px;
      height: 373px;
      min-width: 300px;
      .pic {
        border-radius: 10px;
      }
    }
    .imgAndAddress {
      @include disFlex;
      .address {
        @include disFlex;
        flex-direction: column;
        address {
          margin: 3px;
          color: white;
          font-size: 1.2rem;
          font-weight: bold;
          background-color: rgba(0, 0, 0, 0.365);
          padding: 2px;
          border-radius: 10px;
        }
        .directionCallBtn {
          button {
            all: unset;
            height: 50px;
            min-width: 100px;
            background-color: rgb(174, 174, 174);
            margin: 3px;
            text-align: center;
            border-radius: 20px;
            font-weight: 500;
            font-size: medium;
            &:hover {
              background-color: grey;
            }
          }
        }
      }
    }
    @media (max-width: 860px) {
      flex-direction: column;
    }
  }
}
