.mainContainer {
  height: 100vh;
  width: 100vw;
  background-image: url("../../public/pics/agustin-fernandez-Znyjl9pbaUs-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
